---
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";

interface Props {
  title: string;
  description: string;
  image?: string;
  ogType?: string;
}

const { title, description, image, ogType } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<style>
  html, body { background-color: #0a0e14; color: #c9d1d9; }
</style>
<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<meta name="description" content={description} />
<meta name="og:title" content={title || SITE_TITLE} />
<meta name="og:description" content={description || SITE_DESCRIPTION} />
{ogType && <meta property="og:type" content={ogType} />}
{image && <meta property="og:image" content={image} />}

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content={title || SITE_TITLE} />
<meta name="twitter:description" content={description || SITE_DESCRIPTION} />
{image && <meta name="twitter:image" content={image} />}
